
.body{

   
    clip-path: inset(0 100% 0 0);
    position:absolute;
   
   
  } 



  .tnr {
    font-family: times new roman;
  }
  .officers-header{
    font-family: impact, sans-serif;
  }

  .officer-title{
    font-family: times new roman;
    font-size: 13.3333px;
    font-weight:bold;
    font-style: italic;
  }

  .officer-Name{
    font-family: times new roman;
    font-size: 14.6667px;
  }
  .paraone>p{
    font-size: 0.75rem;
    font-family: times new roman;
    border-color: #000000;
    padding: 0px;
    margin-bottom: 20px;

  }
  .sign>p{
    font-size: 10.5pt;
    font-family: times new roman;
    border-color: #000000;
    padding: 0px;
    margin-bottom: 20px;

  }
  .date{
    font-size: 10.5pt;
    font-family: times new roman;
  }
