
@media print {
  @page {
    size: 215.9mm 355.6mm;
 
    margin-bottom:25mm;
  }
}

@page{
  padding: 48px, 48px , 48px, 48px;
 
}
.tabStyle {
  height: 500;
  max-height: 300;

  overflow: visible;
}
.body{
 
    clip-path: inset(0 100% 0 0);
    position:absolute;


   
  } 


  .report-header {
    display: table-header-group;
}
.table {
  display: table-header-group;
  width: 100%;
  }
  .officers-header{
    font-family: impact, sans-serif;
  }

  .officer-title{
    font-family: times new roman;
    font-size: 13.3333px;
    font-weight:bold;
    font-style: italic;
  }

  .officer-Name{
    font-family: times new roman;
    font-size: 14.6667px;
  }
  .paraone>p{
    font-size: 10.5pt;
    font-family: times new roman;
    border-color: #000000;
    padding: 0px;
    margin-bottom: 20px;

  }
  .date{
    font-size: 10.5pt;
    font-family: times new roman;
  }
